@model IEnumerable<ASP.NET.Core._6.Loja.Filmes.Mvc.Models.Domain.Genre>
@{
}

<div class="tbl-container">
    <h2>Gêneros</h2>

    <table>
        <tr>
            <th>Nome</th>
            <th>Ação</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.GenreName</td>
                <td>
                    <a href="/Genre/Edit?id=@item.Id" class="btn btn-default"><i class="fa fa-edit"></i></a>
                    <a onclick="return window.confirm('Você tem certeza?')" href="/Genre/Delete?id=@item.Id" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                </td>
            </tr>
        }

    </table>
    <div class="input-container">
        <a href="/Genre/Add" class="btn btn-sec">Voltar</a>
    </div>
</div>
